<template>
  <img v-bind="$attrs" :src="externalSrc ? src : currentSource" :alt="alt" :style="style">
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'BaseImage',
  props: {
    src: { type: String, default: '' },
    alt: String,
    externalSrc: { type: Boolean, default: false },
    height: { type: [String, Number], default: '100%' },
    maxHeight: { type: [String, Number], default: '100%' },
    width: { type: [String, Number], default: '100%' },
    maxWidth: { type: [String, Number], default: '100%' },
  },
  computed: {
    currentSource() {
      // eslint-disable-next-line global-require,import/no-dynamic-require
      return new URL(`/src/assets/img/${this.src}`, import.meta.url).href;
    },
    style() {
      return {
        maxWidth: typeof this.maxWidth === 'number' ? `${this.maxWidth}px` : this.maxWidth,
        maxHeight: typeof this.maxHeight === 'number' ? `${this.maxHeight}px` : this.maxHeight,
        height: typeof this.height === 'number' ? `${this.height}px` : this.height,
        width: typeof this.width === 'number' ? `${this.width}px` : this.width,
      };
    },
  },
});
</script>

<style scoped>

</style>
