<template>
  <select
    :value="value"
    @input="change($event)"
    @dblclick.stop=""
    @pointerdown.stop=""
    @pointermove.stop=""
    style="background: white"
  >
    <option v-if="placeholder" value="" disabled selected>{{placeholder}}</option>
    <option v-for="(option, i) in options" :value="option.value" :key="i">
      {{ option.label }}
    </option>
  </select>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: ['defaultValue', 'readonly', 'emitter', 'ikey', 'getData', 'putData', 'options', 'placeholder'],
  data() {
    return {
      value: undefined as string | number | undefined,
    };
  },
  methods: {
    change(e: Event) {
      this.value = (e.target as HTMLInputElement).value;
      this.update();
    },
    update() {
      if (this.ikey) {
        this.putData(this.ikey, this.value);
      }
      this.emitter.trigger('process');
    },
  },
  mounted() {
    if (this.defaultValue) {
      this.value = this.defaultValue;
      this.update();
    }
  },
});
</script>
<style>

select {
  max-width: 100%;
  min-width: 100%;
}
</style>
