<template>
  <input
    class="number"
    :readonly="readonly"
    :value="value"
    @input="change($event)"
    @dblclick.stop=""
    @pointerdown.stop=""
    @pointermove.stop=""
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: ['defaultValue', 'readonly', 'emitter', 'ikey', 'getData', 'putData'],
  data() {
    return {
      value: '',
    };
  },
  methods: {
    change(e: Event) {
      this.value = (e.target as HTMLInputElement).value;
      this.update();
    },
    update() {
      if (this.ikey) {
        this.putData(this.ikey, this.value);
      }
      this.emitter.trigger('process');
    },
  },
  mounted() {
    if (this.defaultValue) {
      this.value = this.defaultValue;
      this.update();
    }
  },
});
</script>
<style scoped>
.number {
  max-width: 100%;
}
</style>
