<template>
  <div class="base-link" :style="style" @click="onClick" @keyup.enter="onClick">
    <slot />
  </div>
</template>

<script setup lang="ts">

import { computed, CSSProperties, defineProps } from 'vue';
import { Colors } from '@/store/theme.store';
import { useTheme } from '@/composable/ui/useTheme';
import { useWindow } from '@/composable/ui/useWindow';

const theme = useTheme();
const window = useWindow();
const props = defineProps({
  size: {
    type: String as() => 'xs' |'sm' | 'md' | 'lg',
    default: 'md',
  },
  bold: Boolean,
  color: { type: String as () => keyof Colors, default: 'black' },
  justify: {
    type: String as () => 'start' | 'center' | 'end',
    default: 'start',
  },
  newWindow: Boolean,
  route: {
    type: String,
    required: true,
  },
});
const sizes = {
  xs: 14,
  sm: 16,
  md: 18,
  lg: 60,
};

const textAligns = {
  start: 'left',
  center: 'center',
  end: 'right',
};

const style = computed((): CSSProperties => ({
  'font-size': `${sizes[props.size]}px`,
  minHeight: `${sizes[props.size] + 7}px`,
  fontWeight: props.bold ? 700 : 400,
  color: theme.resolveColor(props.color),
  textAlign: textAligns[props.justify] as CSSProperties['textAlign'],
}));

function onClick() {
  if (props.newWindow) {
    window.openInNewTab(props.route);
  } else {
    window.open(props.route);
  }
}

</script>

<style scoped>
.base-link {
  cursor: pointer;
  color: black;
}
.base-link:hover {
  text-decoration: none;
}
</style>
