<template>
  <div :style="style">
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>

import { computed, CSSProperties, defineProps } from 'vue';
import { Colors } from '@/store/theme.store';
import { useTheme } from '@/composable/ui/useTheme';

const props = defineProps({
  size: {
    type: String as() => 'sm' | 'md' | 'lg',
    default: 'md',
  },
  justify: {
    type: String as () => 'start' | 'center' | 'end',
    default: 'start',
  },
  color: { type: String as () => keyof Colors, default: 'title' },
  bold: Boolean,
});

const theme = useTheme();

const sizes = {
  sm: 32,
  md: 48,
  lg: 64,
};

const textAligns = {
  start: 'left',
  center: 'center',
  end: 'right',
};

const style = computed(() => ({
  color: theme.resolveColor(props.color),
  fontSize: `${sizes[props.size]}px`,
  fontWeight: props.bold ? 700 : 400,
  textAlign: textAligns[props.justify] as CSSProperties['textAlign'],
}));

</script>

<style scoped>
div {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;

}
</style>
