<template>
  <div :style="style">
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>

import { computed, CSSProperties, defineProps } from 'vue';
import { Colors } from '@/store/theme.store';
import { useTheme } from '@/composable/ui/useTheme';

const theme = useTheme();
const props = defineProps({
  size: {
    type: String as() => 'xs' |'sm' | 'md' | 'lg',
    default: 'md',
  },
  bold: Boolean,
  color: { type: String as () => keyof Colors, default: 'body' },
  justify: {
    type: String as () => 'start' | 'center' | 'end',
    default: 'start',
  },
});
const sizes = {
  xs: 14,
  sm: 16,
  md: 18,
  lg: 20,
};

const textAligns = {
  start: 'left',
  center: 'center',
  end: 'right',
};

const style = computed((): CSSProperties => ({
  'font-size': `${sizes[props.size]}px`,
  minHeight: `${sizes[props.size] + 7}px`,
  fontWeight: props.bold ? 700 : 400,
  color: theme.resolveColor(props.color),
  textAlign: textAligns[props.justify] as CSSProperties['textAlign'],
}));

</script>

<style scoped>
div {
  font-family: source-han-sans-japanese, sans-serif;
  letter-spacing: 1px;
  text-align: left;

}
</style>
