<template>
  <div class="container" :style="style">
    <div v-if="title" class="p-0 card-header">
      <slot name="title" :title="title">
        <base-title size="sm" bold>{{ title }}</base-title>
      </slot>
      <slot name="afterTitle">
        <arrow-button v-if="buttonText" class="mt-1" @click="$emit('buttonClick')">
          {{ buttonText }}
        </arrow-button>
      </slot>
    </div>
    <slot/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useBreakpoint } from '@/composable/ui/useScreen';
import ArrowButton from '@/components/Buttons/ArrowButton.vue';
import BaseTitle from '@/components/Texts/BaseTitle.vue';

export default defineComponent({
  components: { BaseTitle, ArrowButton },
  setup() {
    const breakpoint = useBreakpoint();
    return {
      breakpoint,
    };
  },
  emits: ['buttonClick'],
  props: {
    background: { type: String, default: '#fff' },
    title: { type: String, default: '' },
    buttonText: { type: String, default: '' },
    buttonRoute: { type: String, default: '' },
  },
  computed: {
    style() {
      const background = this.background.startsWith('--') ? `var(${this.background})` : this.background;
      return {
        background,
      };
    },
  },
});
</script>

<style scoped>

.arrow-button {
  max-width: 230px !important;
  height: 35px !important;
}

.container {
  background: #fff;
  padding: 5px 0 20px 0;
}

.card-header {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  border-bottom: #004680 1px solid;
}

.title {
  width: auto; line-height: 1.8; font-weight: bold
}
</style>
