<template>
  <base-text class="mx-1" size="xs" color="error">必須</base-text>
</template>

<script lang="ts" setup>

import BaseText from '@/components/Texts/BaseText.vue';
</script>

<style scoped>

</style>
