<template>
  <div class="secondary drawer" >
    <div class="editor">
      <div class="container">
        <div class="node-editor"></div>
      </div>
      <div class="dock">
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>

const props = defineProps({
  nodes: {
    type: Array as () => {}[],
  },
});

</script>

<style scoped>
.drawer {
  min-height: 100%;
  max-height: 100vm;
  max-width: 250px;
  min-width: 250px;

  padding-top: 40px;
  padding-left: 20px;
}

.editor {
  overflow-y: auto;
  max-height: 95vh;
  padding-right: 15px;
}

.dock {

}
</style>
