<template>
  <v-toolbar class="toolbar px-2" app>
    <base-select
      class="ml-2 mt-4 Platform-select"
      v-model="platform"
      :items="platforms"
      item-text="name"
      return-object
    />
    <div v-if="!runLoading" class="ml-3 arrow-right clickable" @click="onRunClick" @keyup="onRunClick"/>
    <v-progress-circular v-else indeterminate class="ml-3" color="green"/>
    <v-snackbar :model-value="snackbar.show" :timeout="snackbar.timeout" :color="snackbar.color">{{snackbar.text}}</v-snackbar>
  </v-toolbar>
</template>

<script lang="ts" setup>

import BaseSelect from '@/components/Forms/BaseSelect.vue';
import {
  computed, defineEmits, defineProps, onMounted, ref,
} from 'vue';
import { ArduinoNano, ArduinoUno } from '@/flow/Platforms/ArduinoUno';
import Platform from '@/flow/Platforms/Platform';
import ArduinoCli from '@/services/arduinoCli';

const props = defineProps({
  modelValue: Object as () => Platform,
  code: { type: String, required: true },
});
const emit = defineEmits(['update:modelValue']);

const platforms = [new ArduinoUno(), new ArduinoNano()];

const arduinoCli = ref<ArduinoCli | null>(null);
const runLoading = ref<boolean>(false);
const snackbar = ref({
  text: '', show: false, timeout: 2000, color: 'success',
});

const platform = computed({
  get: () => props.modelValue as Platform,
  set: (newValue: Platform) => {
    emit('update:modelValue', newValue);
  },
});

async function onRunClick() {
  if (arduinoCli.value) {
    runLoading.value = true;
    try {
      await arduinoCli.value.run(props.code);
      snackbar.value = {
        text: 'Código Carregado com Sucesso!!', show: true, timeout: 5000, color: 'success',
      };
    } catch (e) {
      snackbar.value = {
        text: String(e), show: true, timeout: 5000, color: 'error',
      };
      console.log(e);
    }
    runLoading.value = false;
  }
}

onMounted(() => {
  emit('update:modelValue', platforms[0]);
  ArduinoCli.listBoards().then((boards) => {
    // eslint-disable-next-line prefer-destructuring
    arduinoCli.value = boards[0];
  }).catch((err) => {
    console.log(err);
  });
});

</script>

<style scoped>

.clickable {
  cursor: pointer;
  width: 100px;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary);
  width: 100%;
  z-index: 200;
}
.Platform-select {
  max-width: 200px;
}
.arrow-right {
  width: 0px;
  height: 0px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid green;
}

</style>
