<template>
<button v-ripple>
  <span class="v-btn__content">
    <svg data-v-4d318674="" width="35px" height="35px" viewBox="0 0 100 200">
      <polygon data-v-4d318674="" points="0 0, 25 0, 100 100, 25 200, 0 200, 75 100" style="fill: white;" />
    </svg>
    <slot/>
  </span>
</button>
</template>

<script lang="ts">
export default {
  name: 'ArrowButton',
};
</script>

<style scoped>
button {
  background-color: var(--primary);
  color: var(--white);
  border: 0 none;
}
</style>
