<template>
    <v-btn><slot/></v-btn>
</template>

<script lang="ts" setup>

import { defineProps, defineEmits, computed } from 'vue';
import { Colors, HEX } from '@/store/theme.store';
import { useTheme } from '@/composable/ui/useTheme';
import SpinnerLoader from '@/components/Loaders/SpinnerLoader.vue';

const theme = useTheme();

const props = defineProps({
  size: {
    type: String as() => 'xs' |'sm' | 'md' | 'lg',
    default: 'md',
  },
  color: {
    type: String as() => Colors | HEX| keyof Colors,
    default: 'primary',
  },
  block: Boolean,
  outlined: Boolean,
  disabled: Boolean,
  onlyText: Boolean,
  loading: Boolean,
});
const emit = defineEmits(['click']);

const heights = {
  xs: 24,
  sm: 40,
  md: 56,
  lg: 64,
};
const widths = {
  xs: 100,
  sm: 120,
  md: 200,
  lg: 200,
};


</script>

<style scoped>

</style>
