<template>
  <v-toolbar>
    toolbar
    {{props.t}}
  </v-toolbar>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps({
  t: {
    type: Function,
    required: true,
  },
});

</script>

<style scoped>
.header {
  background: white;
}
</style>
