<template>
  <header class="toolbar">
    <div class="content">
      <flex-layout class="w-100" justify="center" align="center">
        <base-image class="mt-1" src="housedo-logo-white.svg" :max-width="140"/>
        <base-text class="ms-4" color="white">マイページ</base-text>
      </flex-layout>
    </div>
  </header>
</template>

<script lang="ts" setup>
import BaseImage from '@/components/Images/BaseImage.vue';
import BaseText from '@/components/Texts/BaseText.vue';
import FlexLayout from '@/components/Layouts/FlexLayout.vue';

</script>

<style scoped>
.toolbar {
  width: 100%;
  height: 56px;
  position: fixed;
  max-height: 56px;
  margin-top: 0px;
  transform: translateY(0px);
  left: 0px;
  right: 0px;
  top: 0;
  z-index: 5;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
</style>
