<template>
  <div v-bind="$attrs" ref="containerRef">
    <slot name="activator" :attrs="attrs"></slot>
  </div>
  <Teleport to="body">
    <transition name="fade" :duration="300">
      <div v-if="open" class="menu" :style="menuStyle">
        <slot/>
      </div>
    </transition>
  </Teleport>
</template>

<script lang="ts" setup>

import {
  computed, ref,
} from 'vue';
import { onClickOutside } from '@vueuse/core';

const containerRef = ref<HTMLElement>();
const open = ref(false);

onClickOutside(containerRef, () => {
  open.value = false;
});

const menuStyle = computed(() => {
  if (containerRef.value) {
    const containerRect = containerRef.value.getBoundingClientRect();
    const top = containerRect.top + window.scrollY;
    const left = containerRect.left + window.screenX;
    const { width, height } = containerRect;
    return {
      top: `${top - 1}px`,
      left: `${left - 1}px`,
      width: `${width + 2}px`,
      minHeight: `${height}px`,
    };
  }
  return {};
});

const attrs = computed(() => ({
  onClick() {
    open.value = !open.value;
  },
}));

</script>

<style scoped>

.menu {
  transform-origin: left top;
  z-index: 9000;
  position: absolute !important;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  contain: content;
}

.fade-enter-active {
  animation: bounce-in 0.5s ;
}

.fade-leave-active {
  animation: bounce-in 0.5s reverse;
}
.fade-enter-to .fade-leave-from{
  opacity: 1;
  transform: translateY(100%);
}

@keyframes bounce-in {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}
</style>
