<template>
  <div class="info-card text-caption p-3">
  <slot>
    ハウスドゥからのメールは<span class="house-do-text">「@housedo.co.jp」</span>のドメインから配信されます。<br>
    その為、迷惑メールフィルターをご利用になられている場合は、<br>
    <span class="house-do-text">「@housedo.co.jp」</span>からのメールを受信できるよう設定をお願いいたします。
  </slot>
  </div>
</template>

<script lang="ts">
export default {
};
</script>

<style scoped>
.info-card {
  outline: dotted 1px black;
  background: #f8f8f8;
  text-align: left;
}

.house-do-text {
  color: #004680;
  font-weight: bold;
}
</style>
