<template>
  <div class="node" :class="[node.name]" :style="style">
    <div class="title">{{nameMap[node.name] || node.name}}</div>
    <div class="content">
      <div class="col d-flex">
        <div class="col-6">
          <div
              class="input"
              :class="{'input-flow': input.name === '' && input.socket.name === 'Flow' }"
              v-for="input in inputs()"
              :key="input.key"
          >
            <Socket
              v-socket:input="input"
              type="input"
              :socket="input.socket"
              :used="() => input.connections.length"
            />
            <div class="input-title" v-show="!input.showControl()">{{input.name}}</div>
            <div
              class="input-control"
              v-show="input.showControl()"
              v-control="input.control" style="min-width: calc(100% - 20px); max-width: calc(100% - 36px)"
            />
          </div>
        </div>
        <div class="col-6 d-flex flex-wrap" >
          <div
              :class="{'output-flow': output.name === '' && output.socket.name === 'Flow'}"
              class="output col-12"
              v-for="output in outputs()"
              :key="output.key"
              style="text-align: right; justify-content: end; justify-items: end;"
          >
            <div class="output-title" >{{output.name}}</div>
            <Socket  v-socket:output="output" type="output" :socket="output.socket" :used="() => output.connections.length"/>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="control col-12" v-for="control in controls()" v-control="control"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import VueRenderPlugin from 'rete-vue-render-plugin';
import { defineComponent } from 'vue';
import { NodeType } from '@/flow/graph/nodes/MyNode';

const typeToColorMap: Record<NodeType, string> = {
  [NodeType.Default]: 'primary',
  [NodeType.Event]: 'orange',
  [NodeType.Control]: 'primary',
  [NodeType.Operation]: 'red',
  [NodeType.State]: 'green',

};
const nameMap: {[key: string]: string} = {
  Sum: 'Some',
  OnStart: 'Ao Iniciar',
  OnLoop: 'Ao Entrar o Loop',
  OnButton: 'Ao Apertar o Botao',
  If: 'Se',
  Log: 'Escreva',
  Led: 'Acione o Led',
};

export default defineComponent({

  mixins: [VueRenderPlugin.Node],
  components: { Socket: VueRenderPlugin.Socket },
  data: () => ({
    nameMap,
  }),
  props: ['node', 'editor', 'type'],
  methods: {
    flowSocketStyle() {
      return {
        position: 'absolute',
        top: '0px',
      };
    },
  },
  computed: {
    style() {
      return {
        background: typeToColorMap[this.type as NodeType] || 'primary',
      };
    },
  },
});
</script>

<style lang="sass" scoped>

$node-color: rgba(110,136,255,0.8)
$node-color-selected: #ffd92c
$group-color: rgba(15,80,255,0.2)
$group-handler-size: 40px
$group-handler-offset: -10px
$socket-size: 24px
$socket-margin: 6px
$socket-color: #96b38a
$node-width: 180px

.input-flow
  position: absolute
  top: 0

.output-flow
  position: absolute
  top: 0px
  right: 0

.node
  background: var(--primary)
  border: 2px solid #4e58bf
  border-radius: 10px
  cursor: pointer
  min-width: $node-width
  height: auto
  padding-bottom: 6px
  box-sizing: content-box
  position: relative
  user-select: none
  &:hover
    background: var(--secondary)
  &.selected
    background: $node-color-selected
    border-color: #e3c000
  .title
    color: white
    font-family: sans-serif
    font-size: 18px
    padding: 8px
  .output
    text-align: right
  .input
    text-align: left
  .input-title,.output-title
    vertical-align: middle
    color: white
    display: inline-block
    font-family: sans-serif
    font-size: 14px
    line-height: $socket-size
  .input-control
    z-index: 1
    width: calc(100% - #{$socket-size + 2*$socket-margin} - 60px)
    vertical-align: middle
    display: inline-block
  .control
    padding: $socket-margin #{($socket-size / 2) + $socket-margin}
    min-width: 100%

</style>
