<template>
  <work-space-toolbar v-model="data.Platform" :code="data.code" />
  <flex-layout class="mt-5">
    <work-space-drawer class="col-3" style="max-height: 95vh"/>
    <div class="col-9" id="rete" style="max-height: 95vh"/>
  </flex-layout>
</template>

<script lang="ts" setup>

import { onMounted, reactive } from 'vue';
import FlexLayout from '@/components/Layouts/FlexLayout.vue';
import { FlowControl } from '@/flow/flow.controll';
import WorkSpaceToolbar from '@/views/Workspace/components/WorkSpaceToolbar.vue';
import WorkSpaceDrawer from '@/views/Workspace/components/WorkSpaceDrawer.vue';
import CodeBuilder from '@/flow/codeBuilder/CodeBuilder';
import SumNode from '@/flow/graph/nodes/SumNode';
import OnStartNode from '@/flow/graph/nodes/OnStart.node';
import OnLoopNode from '@/flow/graph/nodes/OnLoopNode';
import IfNode from '@/flow/graph/nodes/IfNode';
import { Input, Output } from 'rete';
import { ArduinoUno } from '@/flow/Platforms/ArduinoUno';
import LogNode from '@/flow/graph/nodes/LogNode';
import OnButtonNode from '@/flow/graph/nodes/OnButtonNode';
import LedNode from '@/flow/graph/nodes/LedNode';
import NumberNode from '@/flow/graph/nodes/NumberNode';
import SetStateNode from '@/flow/graph/nodes/SetStateNode';
import OnStateNode from '@/flow/graph/nodes/OnStateNode';
import DelayNode from '@/flow/graph/nodes/DelayNode';
import OnTemperatureNode from '@/flow/graph/nodes/OnTemperatureNode';
import GetStateNode from '@/flow/graph/nodes/GetStateNode';
import ReadPinNode from '@/flow/graph/nodes/ReadPinNode';
import CoolerNode from '@/flow/graph/nodes/CoolerNode';
import ApplicationBuilder from '@/flow/codeBuilder/ApplicationBuilder';

const data = reactive({
  Platform: new ArduinoUno(),
  flowController: undefined as FlowControl<any, any> | undefined,
  code: '',
});

onMounted(async () => {
  const container = document.querySelector('#rete') as HTMLDivElement;
  data.flowController = new FlowControl(data.Platform, data.Platform.languages.cpp, container);

  const applicationBuilder = new ApplicationBuilder(data.Platform, data.Platform.languages.cpp);
  const pinEvent = applicationBuilder.addPinListener({ pin: '2' });
  const codeBuilder = pinEvent.flow;
  const myVar = codeBuilder.var({ name: 'myVar', type: 'number', value: '0' });
  codeBuilder.sum({ name: 'sum', vars: [myVar, { name: 'one', type: 'number', value: '10' }] });
  console.log(applicationBuilder.build());

  // const codeBuilder = new CodeBuilder(data.Platform, data.Platform.languages.cpp);
  // const myVar = codeBuilder.var({ name: 'myVar', type: 'number', value: '0' });
  // codeBuilder.sum({ name: 'sum', vars: [myVar, { name: 'one', type: 'number', value: '10' }] });
  // console.log(codeBuilder.build());

  data.flowController.addOnGraphChange((code) => {
    console.log('graph', code);
    data.code = code;
  });

  const onStartNodeFactory = data.flowController.registerComponent(OnStartNode);
  const OnLoopNodeFactory = data.flowController.registerComponent(OnLoopNode);
  const onButtonNodeFactory = data.flowController.registerComponent(OnButtonNode);
  const onTemperature = data.flowController.registerComponent(OnTemperatureNode);
  const ifNodeFactory = data.flowController.registerComponent(IfNode);
  const logNodeFactory = data.flowController.registerComponent(LogNode);
  const delayNodeFactory = data.flowController.registerComponent(DelayNode);
  const sumNodeFactory = data.flowController.registerComponent(SumNode);
  const setLedFactory = data.flowController.registerComponent(LedNode);
  const coolerFactory = data.flowController.registerComponent(CoolerNode);
  const readPinFactory = data.flowController.registerComponent(ReadPinNode);
  const numberFactory = data.flowController.registerComponent(NumberNode);

  const setStateNodeFactory = data.flowController.registerComponent(SetStateNode);
  const getStateNodeFactory = data.flowController.registerComponent(GetStateNode);
  const onStateNodeFactory = data.flowController.registerComponent(OnStateNode);

  // const onLoop = await onButtonNodeFactory.createNode();
  // onLoop.position = [80, 80];
  //
  // const ifnode1 = await sumNodeFactory.createNode();
  // ifnode1.position = [400, 200];
  //
  // data.flowController.editor.addNode(ifnode1);
  // data.flowController.editor.addNode(onLoop);
  //
  // data.flowController.editor.connect(onLoop.outputs.get('onClick') as Output, ifnode1.inputs.get('flow') as Input);

  data.flowController.init();
});
</script>

<style scoped>

</style>
