<template>
  <div>
    Drawer
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.defineComponent({
  name: 'Drawer',
});
</script>

<style scoped>
.text-clip {
  text-overflow: clip;
}

.current {
  background: #e7ecf4;
  border-left: 5px solid #204e87;
}

.v-list-item:hover {
  background-color: #e7ecf4;
}

.v-list-group:hover {
  background-color: #e7ecf4;
}

.inner-item {
  background-color: white;
}

.inner-item:hover {
  background-color: #e7ecf4;
}

</style>
