<template>
<table style="width: 100%">
  <thead>
    <tr v-if="!props.disableHeader">
      <th v-for="header in columns" :key="header.text">
        {{ header.text }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(item, i) in props.items" :key="i">
      <td v-for="column in columns" :key="column.field">
        <slot :name="`item.${column.field}`">
          {{ getColumnValue(item, column) }}
        </slot>
      </td>
    </tr>
  </tbody>
</table>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

export interface Column {
  text: string;
  field: string;
}

const props = defineProps({
  disableHeader: {
    type: Boolean,
    default: false,
  },
  columns: {
    type: Array as () => Column[],
    required: true,
  },
  items: {
    // eslint-disable-next-line @typescript-eslint/ban-types
    type: Array as () => Object[],
  },
});

// eslint-disable-next-line @typescript-eslint/ban-types
function getColumnValue(item: Object, column: Column) {
  // eslint-disable-next-line @typescript-eslint/ban-types
  return item[column.field as keyof Object] || 'ba';
}

</script>

<style scoped lang="scss">

table {
  width: 100%;
}

thead {
  background: #e7ecf4;
  min-height: 300px !important;
}

th {
  padding-top: 15px !important;
  cursor: text !important;
}

th i {
  display: none !important;
}

tbody tr {
  background-color: white !important;
  cursor: pointer !important;
  transition: box-shadow .2s, transform .2s, background .2s;
}

tbody tr:hover {
  transform: translateY(-5px);
  border-top: var(--v-gray-base) 2px solid;
  background-color: #F2F7FF !important;
}

tbody tr td {
  border: none !important;
  background-color: transparent !important;
}
</style>
