<template>
  <v-app>
    <router-view />
  </v-app>
</template>
<script lang="ts" setup>

</script>
<style lang="scss">
@import "./assets/styles/grid";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.mt-6 {
  margin-top: 3.6rem;
}
.mt-7 {
  margin-top: 4.2rem;
}
.mt-8 {
  margin-top: 4.8rem;
}
.mt-9 {
  margin-top: 5.4rem;
}
.mt-10 {
  margin-top: 6.0rem;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: var(--background);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

input {
  background: white;
  box-sizing: content-box;
}
select {
  background: white;
  box-sizing: content-box;
}

.dock .item {
  padding-top: 10px;
}

//
//.node {
//  background-color: red;
//}
//
//.node .title {
//
//}
//
//.node > .output,
//.node > .input {
//
//}
//.node .input-title,
//.node .output-title {
//
//}
//
//.node .socket {
//
//}
//
//.connection .main-path {
//
//}
//
//.node.selected {
//}
//
//.node.number > .title {
//  background-color: gray;
//}
//
//.node.number > .setup {
//  background-color: red;
//}
//
//.node {
//  background-color: var(--primary) !important;
//}
//
//.dock .item {
//  margin-top:10px !important;
//}

</style>
