.toolbar[data-v-09f90dea]{width:100%;height:56px;position:fixed;max-height:56px;margin-top:0;transform:translateY(0);left:0px;right:0px;top:0;z-index:5;background-color:var(--primary);display:flex;justify-content:center;align-items:center}.content[data-v-09f90dea]{display:flex;justify-content:space-between;align-items:center;width:95%}div[data-v-6247fffe]{font-family:source-han-sans-japanese,sans-serif;font-weight:500;letter-spacing:1px;text-align:left}
