input[data-v-b624531a]{height:64px;font-size:16px;padding:0 12px;border:none;border-radius:16px;background-color:var(--inputBackground)!important}.header[data-v-b624531a]{margin-bottom:4px}.required[data-v-b624531a]{border:solid var(--error) 1px;padding:5px;font-size:.7rem;color:var(--error);height:20px;line-height:8px;background:#fff;min-width:40px}[data-v-b624531a]::placeholder{color:var(--placeholder);opacity:1}[data-v-b624531a]:-ms-input-placeholder{color:red}[data-v-b624531a]::-ms-input-placeholder{color:red}
