button[data-v-1b5bff05]{background-color:var(--primary);color:var(--white);border:0 none}.arrow-button[data-v-246c3a1b]{max-width:230px!important;height:35px!important}.container[data-v-246c3a1b]{background:#fff;padding:5px 0 20px}.card-header[data-v-246c3a1b]{width:100%;height:45px;justify-content:space-between;align-items:start;-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:baseline;-ms-flex-align:baseline;border-bottom:#004680 1px solid}.title[data-v-246c3a1b]{width:auto;line-height:1.8;font-weight:700}
