.justify-text[data-v-682c1d5a]{text-align:justify;text-justify:inter-word}.layout-container[data-v-682c1d5a]{max-width:700px}.link-text[data-v-682c1d5a]{text-decoration:underline;cursor:pointer;color:#000}.link-text[data-v-682c1d5a]:hover{text-decoration:none}.list[data-v-682c1d5a]{list-style:none}.title-text[data-v-682c1d5a]{width:auto;line-height:1.8!important}.white-layout[data-v-682c1d5a]{width:100%;background:white}
