@use "sass:math";
@use "sass:map";
@import "./breakpoints";

$grid-columns: 12;

$map-grid-props: (
        '': map.get($breakpoints, 'xs'),
        '-sm': map.get($breakpoints, 'sm'),
        '-md': map.get($breakpoints, 'md'),
        '-lg': map.get($breakpoints, 'lg'),
);

@each $breakpointName, $mediaQuery in $map-grid-props {
  @media screen and (min-width: map.get($map-grid-props, $breakpointName) * 1px){
    @for $column from 1 through $grid-columns {
      .col#{$breakpointName}-#{$column} {
        width: math.div($column * 100%, $grid-columns);
      }
    }
  }
}
