<template>
  <v-select
      :model-value="props.modelValue"
      :items="props.items"
      :item-title="props.itemText"
      :item-value="props.itemValue"
      :return-object="props.returnObject"
      bg-color="blue-grey-lighten-1"
      rounded
      variant="outlined"
  />
</template>

<script lang="ts" setup generic="T">
import {
  computed,
  defineEmits, defineProps, ref,
} from 'vue';
import BaseText from '@/components/Texts/BaseText.vue';
import FlexLayout from '@/components/Layouts/FlexLayout.vue';
import { useForm, ValidatorRule } from '@/composable/ui/useForm';
import BaseMenu from '@/components/Layouts/BaseMenu.vue';

const props = defineProps(
  {
    label: String,
    modelValue: [String, Number, Object],
    placeholder: String,
    rules: {
      type: Array as () => ValidatorRule<string>[],
      default: () => [],
    },
    items: {
      type: Array as () => {[key: string]: any}[],
      default: () => [],
    },
    disabled: Boolean,
    itemValue: { type: String, default: 'value' },
    itemText: { type: String, default: 'text' },
    noError: { type: Boolean, default: false },
    returnObject: { type: Boolean, default: false},
  },
);
const emit = defineEmits(['update:modelValue']);

const inputRef = ref<HTMLInputElement>();
const error = ref('');

const form = useForm(inputRef, props.rules, props.modelValue as string);

</script>

<style scoped>

</style>
