<template>
<div>
  <slot/>
</div>
</template>

<script lang="ts" setup>

import {
  defineEmits, defineProps, provide, reactive,
} from 'vue';
import { FormField, FormProvider, useValidator } from '@/composable/ui/useForm';

defineProps<{modelValue: boolean}>();
const emit = defineEmits<{(event: 'update:modelValue', value: boolean): void; }>();

const validator = useValidator();

const fields = reactive<FormField[]>([]);

provide('form', {
  // eslint-disable-next-line @typescript-eslint/ban-ts-comment
  // @ts-ignore
  registerInput: (formField: FormField) => fields.push(formField as FormField),
  unregisterInput: (el: HTMLElement) => fields.splice(fields.findIndex((item) => item.el === el), 1),
  updateInput: (input: HTMLElement, value: unknown) => {
    const formField = fields.find((item) => item.el === input);
    if (!formField) return;
    formField.value = value;
    emit('update:modelValue', !fields.some((item) => validator.validate(item.rules, item.value)));
  },
} as FormProvider);

</script>

<style scoped>

</style>
