<template>
  <div>
    <flex-layout style="cursor: pointer" align="center"
                 @click="emit('update:modelValue', !props.modelValue)">
      <input type='checkbox' :checked="props.modelValue">
      <base-text class="ms-2 pt-1" size="xs" color="primary">{{ props.label }}</base-text>
    </flex-layout>
  </div>
</template>

<script lang="ts" setup>

import { defineEmits, defineProps } from 'vue';
import BaseText from '@/components/Texts/BaseText.vue';
import FlexLayout from '@/components/Layouts/FlexLayout.vue';

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  label: {
    type: String,
    default: '',
  },
});
const emit = defineEmits(['update:modelValue']);

</script>

<style scoped>
/* Basic styling */
input {
  width: 32px;
  height: 32px;
  color: dodgerblue;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: 0;
  flex-grow: 0;
  border-radius: 8px;
  background: var(--line) none;
  transition: background 300ms;
  cursor: pointer;
}

/* Checked */

input:checked {
  background-color: var(--primary);
}

input:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */
input:disabled {
  background-color: var(--primaryLight);
  opacity: 0.84;
  cursor: not-allowed;
}

/* IE */

input::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: var(--primary);
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

input:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

</style>
