<template>
  <div class="w-100 px-1" >
    <flex-layout class="col-12 header">
      <div class="pe-2">
        <base-text size="xs" color="primary">{{ props.label }}</base-text>
      </div>
      <base-text v-if="props.requiredTag" color="error" size="xs" bold>必須</base-text>
    </flex-layout>
    <input ref="inputRef" class="col-12" :value="props.modelValue" :placeholder="props.placeholder" :type="props.type" @input="onInput">
    <base-text color="error" size="xs">{{ error }}</base-text>
  </div>
</template>

<script lang="ts" setup>
import {
  defineEmits, defineProps, inject, onMounted, onUnmounted, ref,
} from 'vue';
import BaseText from '@/components/Texts/BaseText.vue';
import FlexLayout from '@/components/Layouts/FlexLayout.vue';
import {useForm, ValidatorRule} from '@/composable/ui/useForm';

const props = defineProps(
  {
    label: String,
    modelValue: [String, Number],
    placeholder: String,
    type: {
      type: String as () => 'text' | 'password' | 'email'| 'number',
      default: 'text',
    },
    rules: {
      type: Array as () => ValidatorRule<string>[],
      default: () => [],
    },
    requiredTag: {
      type: Boolean,
      default: false,
    },
  },
);
const emit = defineEmits(['update:modelValue']);

const inputRef = ref<HTMLElement>();
const error = ref('');

const form = useForm(inputRef, props.rules, props.modelValue as string);

function onInput(e: Event) {
  const { value } = e.target as HTMLInputElement;
  const err = form.updateFormValidation(value);
  error.value = err;
  emit('update:modelValue', value);
}

</script>

<style scoped>
input {
  height: 64px;
  font-size: 16px;
  padding: 0 12px;
  border: none;
  border-radius: 16px;
  background-color: var(--inputBackground) !important;
}

.header {
  margin-bottom: 4px;
}

.required {
  border: solid var(--error) 1px;
  padding: 5px;
  font-size: .7rem;
  color: var(--error);
  height: 20px;
  line-height: 8px;
  background: #fff;
  min-width: 40px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

</style>
