<template>
  <flex-layout wrap align="center">
    <base-text class="col-11 col-md-3" size="xs" color="primary">{{label}}</base-text>
    <flex-layout class="col-1 col-md-1 pa-0" align="center">
      <base-checkbox v-model="enable" :rules="enableRules" @update:modelValue="checkboxEvent"/>
    </flex-layout>
    <flex-layout class="col-12 col-md-8 pa-0" align="center">
      <base-select :modelValue="minValue" placeholder="最小" :disabled="!enable" :items="minItems" :rules="rules" @update:modelValue="onMinSelect"/>
      <div class="col-1 font-weight-black">~</div>
      <base-select :modelValue="maxValue" placeholder="最大" :disabled="!enable" :items="maxItems" :rules="rules" @update:modelValue="onMaxSelect"/>
    </flex-layout>
  </flex-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import BaseCheckbox from '@/components/Forms/BaseCheckbox.vue';
import BaseSelect from '@/components/Forms/BaseSelect.vue';
import { ValidatorRule } from '@/composable/ui/useForm';
import FlexLayout from '@/components/Layouts/FlexLayout.vue';
import BaseText from '@/components/Texts/BaseText.vue';

export default defineComponent({
  name: 'MinMaxSelector',
  components: {
    BaseText,
    FlexLayout,
    BaseSelect,
    BaseCheckbox,
  },
  props: {
    class: String,
    modelValue: Array as unknown as () => [number, number],
    label: String,
    items: {
      type: Array as () => {text: string, value: number}[],
      default: () => [
        { text: '下限なし', value: 0 },
        { text: '500万円', value: 500 },
        { text: '1000万円', value: 1000 },
        { text: '1500万円', value: 1500 },
        { text: '2000万円', value: 2000 },
        { text: '2500万円', value: 2500 },
        { text: '3000万円', value: 3000 },
        { text: '3500万円', value: 3500 },
        { text: '4000万円', value: 4000 },
        { text: '4500万円', value: 4500 },
        { text: '5000万円', value: 5000 },
        { text: '5500万円', value: 5500 },
        { text: '6500万円', value: 6500 },
        { text: '7000万円', value: 7000 },
        { text: '7500万円', value: 7500 },
        { text: '8000万円', value: 8000 },
        { text: '上限なし', value: 999999 },
      ],
    },
    strict: { type: Boolean, default: true },
    rules: {
      type: Array as () => ValidatorRule<string>[],
      default: () => [],
    },
    min: { type: Number, default: 0 },
    max: { type: Number, default: 999999 },
    enableRules: Array,
    enableCheckbox: { type: Boolean, default: false },
  },
  data() {
    return {
      enable: false,
    };
  },
  computed: {
    minValue() {
      return this.modelValue?.[0] || this.min;
    },
    maxValue() {
      return this.modelValue?.[1] || this.max;
    },
    maxItems() {
      if (!this.strict) return this.items;
      const max = this.items.filter((item) => item.value >= this.minValue);
      max.shift();
      return max;
    },
    minItems() {
      if (!this.strict) return this.items;
      const min = this.items.filter((item) => item.value <= this.maxValue);
      min.pop();
      return min;
    },
  },
  methods: {
    checkboxEvent(event: boolean) {
      this.$emit('enable', event);
    },
    onMinSelect(value: number) {
      this.$emit('update:modelValue', [value, this.maxValue]);
    },
    onMaxSelect(value: number) {
      this.$emit('update:modelValue', [this.minValue, value]);
    },
  },
  watch: {
    enable: {
      handler() {
        if (!this.enable) this.$emit('update:modalValue', [this.min, this.max]);
      },
    },
    modelValue: {
      immediate: true,
      handler() {
        const min = this.modelValue?.[0] ?? this.min;
        const max = this.modelValue?.[1] ?? this.max;
        if (min !== 0 || max !== 999999 || this.enableCheckbox) this.enable = true;
      },
    },
  },
});
</script>

<style scoped></style>
